/JAVA RS KAREN/Projeto Java/nbproject/private/
/JAVA RS KAREN/Classe Aluno/nbproject/private/
/JAVA RS KAREN/Aluno/nbproject/private/
/JAVA RS KAREN/Telefone/nbproject/private/
/JAVA RS KAREN/Disciplina/nbproject/private/
/JAVA RS KAREN/Projeto Java/Aluno/nbproject/private/
/JAVA RS KAREN/Projeto Java/Disciplina/nbproject/private/